<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="row col-md-9">
        <h3>
            <div class="alert alert-danger" role="alert">
                <%= message%>
            </div>
        </h3>
    </div>


</body>
